<section class="content">
  <div class="container-fluid">
    <div class="p-2">
      <div style="text-align: center !important;">
        <span><strong><u> OBSERVACIONES DE VALIDACIÓN </u></strong></span>
        <p>{{ message }}</p>
        <p>{{ obs_contenido_get }}</p>

        <!-- <ng-template #items_getw>
          <p></p>
        </ng-template> -->
        <button mat-raised-button class="btn btn-outline-primary form-control-sm mr-1" type="button"
          (click)="close();"><span> Aceptar </span>
        </button>
      </div>
    </div>
  </div>
</section>
