<section class="content">
  <div class="container-fluid">
    <div class="p-2">
      <div style="text-align: center !important;">
        <span><strong><u> OBSERVACIONES DE VALIDACIÓN </u></strong></span>
        <p>{{ message }}</p>

        <ng-container *ngIf="items_get.length > 0">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>¿Es conjunto?</th>
                </tr>
              </thead>
              <tbody *ngFor="let items_gets of items_get">
                <tr>
                  <td>{{ items_gets.codigo }}</td>
                  <td>{{ items_gets.descitem }}</td>
                  <td>{{ items_gets.kit }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <ng-container *ngIf="items_item_max_venta_get.length > 0">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>¿Es conjunto?</th>
                </tr>
              </thead>
              <tbody *ngFor="let items_gets of items_item_max_venta_get">
                <tr>
                  <td>{{ items_gets.codigo }}</td>
                  <td>{{ items_gets.descitem }}</td>
                  <td>{{ items_gets.kit }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>





        <!-- <ng-template #items_getw>
          <p></p>
        </ng-template> -->

        <button mat-raised-button class="btn btn-outline-primary form-control-sm mr-1" type="button"
          (click)="close();"><span> Aceptar</span>
        </button>
      </div>
    </div>
  </div>
</section>
