  .ag-root-wrapper-body.ag-layout-normal{
    height: 100% !important;
  }


  .example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid-wrapper {
    flex: 1 1 0px;
    width: 100%;
}

#myGrid {
  height: 100%;
}


::ng-deep{

  /* Cambiar el tamaño de la fuente y el fondo de la tabla AG Grid */
  .ag-theme-alpine .ag-row, .ag-theme-alpine-dark .ag-row, .ag-theme-alpine-auto-dark .ag-row .ag-header-cell{
    font-size: 0.7rem !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }


  .custom-ag-grid .ag-row {
    background-color: #e9ecef;
  }

  .custom-ag-grid .ag-row-odd {
    background-color: #f8f9fa;
  }

  .custom-ag-grid .ag-row-even {
    background-color: #e9ecef;
  }
}