<mat-card>
  <mat-card-header>Item seleccionado: {{ item }}</mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col p-3">
        <mat-form-field class="example-full-width" style="padding-right: 18px;">
          <mat-label>Cantidad: </mat-label>
          <input matInput placeholder="Cantidad">
        </mat-form-field>

        <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
          <i class="fa fa-plus"></i>
        </button>

      </div>
    </div>
  </mat-card-content>

  <mat-card-actions style="float: right;">
    <button mat-button><i class="fa fa-save"></i> Guardar</button>
  </mat-card-actions>
</mat-card>
