<section style="background-color: #f9f9f9;">
  <div class="container-fluid">

    <ng-container>
      <mat-card-header class="mb-1">
        <div class="col-md-9">
          <mat-card-title style="font-size: 0.75rem;"><strong>Busqueda Avanzada</strong></mat-card-title>
        </div>
        <div class="col-md-3 float-right">
          <div class="text-right">
            <mat-icon color="primary" (click)="close();">close</mat-icon>
          </div>
        </div>
      </mat-card-header>
    </ng-container>

    <div class="p-2">
      <div>
        <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="buscador();">
          <i class="fa fa-search " aria-hidden="true"></i> Buscar
        </button>

        <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="mandarAModificarProforma();">
          <i class="fa fa-check" aria-hidden="true"></i> OK
        </button>
      </div>

      <div>
        <tr>
          <td width="18%">
            <span style="padding-right: 35px;">ID: </span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_id" (click)="habilitarTodoID();">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="15%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="id_bool" (click)="habilitarID();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%" class="text-center">
            <div class="row">
              <div class="input-group">
                <div class="input-group-">
                  <span class="input-group-text form-control-sm"
                    style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>ID: </u></span>
                </div>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" (blur)="onLeaveIDTipo($event)"
                    [(ngModel)]="id_tipo_view_get_codigo1" [disabled]="!id_bool">
                </ng-container>
                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalTipoID();"
                    style="border-color: #093070;" [disabled]="!id_bool" matTooltip="Buscar ID"><i
                      class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              &nbsp; | &nbsp;
              <div class="input-group">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Hasta: </u></span>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" (blur)="onLeaveIDTipo($event)"
                    [(ngModel)]="id_tipo_view_get_codigo2" [disabled]="!id_bool">
                </ng-container>
                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalTipoID();"
                    style="border-color: #093070;" [disabled]="!id_bool" matTooltip="Buscar ID"><i
                      class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </div>

      <hr style="margin-top: 0rem !important;margin-bottom: 0rem !important;border: 0 !important;border-top: 0px solid
        rgba(0, 0, 0, .1) !important;">

      <div>
        <tr>
          <td width="18%">
            <span style="padding-right: 17px;">Fecha:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_fecha" (click)="habilitarFechaTodo();">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="15%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="fecha_bool" (click)="habilitarFecha();">
              Desde
            </mat-slide-toggle>
          </td>
          <td width="70%" class="text-center">
            <div class="row">
              <div class="input-group">
                <mat-form-field>
                  <mat-label>Fecha Desde: </mat-label>
                  <input matInput [disabled]="!fecha_bool" [(ngModel)]="fecha_desde" [matDatepicker]="picker1">
                  <mat-hint>YYYY/MM/DD</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              &nbsp;|&nbsp;
              <div class="input-group">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Hasta:</u></span>&nbsp;&nbsp;
                <ng-container>
                  <mat-form-field>
                    <mat-label>Fecha Hasta: </mat-label>
                    <input matInput [disabled]="!fecha_bool" [(ngModel)]="fecha_hasta" [matDatepicker]="picker2">
                    <mat-hint>YYYY/MM/DD</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </ng-container>
              </div>
            </div>
          </td>
        </tr>
      </div>

      <hr style="margin-top: 0rem !important;margin-bottom: 0rem !important;border: 0 !important;border-top: 0px solid
        rgba(0, 0, 0, .1) !important;">

      <div>
        <tr>
          <td width="18%">
            <span style="padding-right: 10px;">Cliente: </span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_cliente" (click)="habilitarTodo();">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="15%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="cliente_bool" (click)="habilitarCliente();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%" class="text-center">
            <div class="row">
              <div class="input-group">
                <div class="input-group-">
                  <span class="input-group-text form-control-sm"
                    style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Cliente</u></span>
                </div>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" id="inputCatalogoVendedor"
                    [disabled]="!cliente_bool" [(ngModel)]="codigo_cliente1">
                </ng-container>

                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalClientes();"
                    style="border-color: #093070;" matTooltipClass="custom-tooltip" matTooltip="Buscar Cliente"
                    [disabled]="!cliente_bool">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              &nbsp; | &nbsp;
              <div class="input-group">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Hasta:</u></span>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" id="inputCatalogoVendedor"
                    [disabled]="!cliente_bool" [(ngModel)]="codigo_cliente2">
                </ng-container>

                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalClientes();"
                    [disabled]="!cliente_bool" style="border-color: #093070;" matTooltipClass="custom-tooltip"
                    matTooltip="Buscar Cliente"><i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </div>

      <hr style="margin-top: 0rem !important;margin-bottom: 0rem !important;border: 0 !important;border-top: 0px solid
        rgba(0, 0, 0, .1) !important;">

      <div>
        <tr>
          <td width="18%">
            <span>Almacen: </span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_almacen" (click)="habilitarTodo();">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="15%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="almacen_bool" (click)="habilitarAlmacen();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%" class="text-center">
            <div class="row">
              <div class="input-group">
                <div class="input-group-">
                  <span class="input-group-text form-control-sm"
                    style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Almacen</u></span>
                </div>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="almacn_parame_usuario_almacen1"
                    id="inputCatalogoAlmacen" (blur)="onLeaveAlmacen($event)" style="margin-left: 6px;"
                    [disabled]="!almacen_bool">
                </ng-container>

                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalAlmacen();"
                    style="border-color: #093070;" matTooltipClass="custom-tooltip" matTooltip="Buscar Almacen"
                    [disabled]="!almacen_bool"><i class="fa fa-search"></i>
                  </button>
                </div>
              </div>

              &nbsp; | &nbsp;

              <div class="input-group">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Hasta:</u></span>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="almacn_parame_usuario_almacen2"
                    id="inputCatalogoAlmacen" (blur)="onLeaveAlmacen($event)" style="margin-left: 6px;"
                    [disabled]="!almacen_bool">
                </ng-container>

                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalAlmacen();"
                    style="border-color: #093070;" matTooltipClass="custom-tooltip" matTooltip="Buscar Almacen"
                    [disabled]="!almacen_bool"><i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </div>

      <hr style="margin-top: 0rem !important;margin-bottom: 0rem !important;border: 0 !important;border-top: 0px solid
        rgba(0, 0, 0, .1) !important;">

      <div>
        <tr>
          <td width="18%">
            <span>Vendedor:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_vendedor" (click)="habilitarTodo();">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="15%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="vendedor_bool" (click)="habilitarVendedor();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%" class="text-center">
            <div class="row">
              <div class="input-group">
                <div class="input-group-">
                  <span class="input-group-text form-control-sm"
                    style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Vendedor</u></span>
                </div>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" [disabled]="!vendedor_bool"
                    [(ngModel)]="cod_vendedor_cliente1" (blur)="onLeaveVendedor($event)">
                </ng-container>

                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalVendedor();"
                    style="border-color: #093070;" matTooltipClass="custom-tooltip" matTooltip="Buscar Vendedor"
                    [disabled]="!vendedor_bool">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              &nbsp; | &nbsp;
              <div class="input-group">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Hasta:</u></span>

                <ng-container>
                  <input type="text" class="form-control form-control-sm" [disabled]="!vendedor_bool"
                    [(ngModel)]="cod_vendedor_cliente2" (blur)="onLeaveVendedor($event)">
                </ng-container>

                <div class="input-group-append">
                  <button class="btn btn-outline-primary form-control-sm" type="button" (click)="modalVendedor();"
                    [disabled]="!vendedor_bool" style="border-color: #093070;" matTooltipClass="custom-tooltip"
                    matTooltip="Buscar Vendedor"><i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </div>
      <!-- fin buscadores -->

      <hr>

      <!-- Inicio Tabla -->
      <div class="row">
        <div class="col-lg">
          <div class="team bg-white scrollmenu">
            <div class="col-lg-12" style="width: 100%;overflow-x: auto;">
              <p-table #dt1 [value]="buscadorObj" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
                selectionMode="single" styleClass="p-datatable-striped" [paginator]="true"
                [(selectedRow)]="selectebuscadorObj" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
                [(selection)]="selectebuscadorObj" (onRowSelect)="getProformaById($event)" styleClass="p-datatable-striped
                tablita" [globalFilterFields]="['codigo', 'descripcion']">

                <ng-template pTemplate="header">
                  <tr style="background-color: #093070 !important;">
                    <th pSortableColumn="codigo" class="text-center">
                      ID
                      <p-sortIcon field="codigo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descripcion" class="text-center">
                      NumeroID
                    </th>
                    <th pSortableColumn="descripcion" class="text-center">
                      Fecha
                    </th>
                    <th pSortableColumn="descripcion" class="text-center">
                      Cliente
                    </th>
                    <th pSortableColumn="descripcion" class="text-center">
                      Vendedor
                    </th>
                    <th pSortableColumn="descripcion" class="text-center">
                      Almacen
                    </th>
                    <th pSortableColumn="descripcion" class="text-right">
                      Monto
                    </th>
                    <th pSortableColumn="descripcion" class="text-right">
                      Moneda
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-buscador let-rowIndex="rowIndex">
                  <tr [autofocus]="true" [pSelectableRow]="buscador" [pSelectableRowIndex]="rowIndex">
                    <td class="text-center">
                      {{ buscador.id }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codigo }}
                    </td>
                    <td class="text-center">
                      {{ buscador.fecha | date:'yyyy-mm-dd'}}
                    </td>
                    <td class="text-center">
                      {{ buscador.nomcliente }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codvendedor }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codalmacen }}
                    </td>
                    <td class="text-right">
                      {{ buscador.total }}
                    </td>
                    <td class="text-right">
                      {{ buscador.codmoneda }}
                    </td>
                    <td></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
