#content {
    margin: 18px;
    padding: 18px;
    /* padding-right: 75px !important; */
    font-family: 'Arial' !important;
}

p{
    font-size: 1.05rem !important;
    margin-bottom: 0rem !important;
    font-family: 'Arial' !important;
}

th{
    font-size: 0.75rem;
}
td{
    padding: .25rem !important;
}
span{
    font-size: 1.40rem !important;
}

.cabecera p{
 font-family: 'Courier New' !important;
  font-size: 0.91rem !important;
}

.center{
    text-align: center !important;
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.col-3{
    flex: 0 0 25% !important;
    max-width: 23% !important;
}

/* para imprimir */
.content {
	display: none;
}
@media print {
	.no-printme  {
		display: none;
	}
	.content  {
		display: block;
	}
}
