.mat-mdc-list-base{
    --mdc-list-list-item-two-line-container-height: 48px !important;
}
.tittle{
    text-align: center;
    color: black;
    font-size: 0.9rem !important;
}

::ng-deep {
    .mat-mdc-list-base{
        --mdc-list-list-item-one-line-container-height: 20px !important;
    }
}
