<section style="background-color: #ffffc0;">
  <div class="container-fluid">
    <ng-container>
      <mat-card-header class="mb-1">
        <div class="col-md-9">
          <mat-card-title style="font-size: 0.7rem;"><strong>Descuentos Deposito Pendiente</strong></mat-card-title>
        </div>

        <div class="col-md-3 float-right">
          <div class="text-right">
            <mat-icon color="primary" (click)="close();">close</mat-icon>
          </div>
        </div>
      </mat-card-header>

      <div class="row">
        <div class="col-md">
          <mat-label style="padding-right: 5px;"><strong><u>Cliente: </u></strong> {{ cod_cliente_get }} -
            {{nombre_cliente_get }}
          </mat-label>
          <mat-label style="padding-right: 5px;"><strong><u>NIT: </u></strong> {{ nit_get }}</mat-label>
          <mat-label style="padding-right: 5px;"><strong><u>Cliente Real: </u></strong> {{ cliente_real_get }}
          </mat-label>

          <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button">
            <span>
              <mat-icon style="color: #ffc107;height: 16px !important;width: 21px !important;overflow: hidden !important;
                font-size: 19px !important;">
                refresh
              </mat-icon>Refrescar
            </span>
          </button>
        </div>
      </div>

      <mat-tab-group style="background-color: #ffffc0;">
        <mat-tab label="Descuentos Pendientes de Asignación">
          <mat-card style="background-color: #ffffc0;">
            <mat-card-content style="padding: 0px 0px 0px 0px !important;">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center" multiTemplateDataRows
                style="text-align: center !important; padding: 0px 0px 0px 0px !important">

                <ng-container matColumnDef="doc_cbza">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Doc. Cobranza </th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <ng-container matColumnDef="doc_deposito">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Doc. Deposito </th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <ng-container matColumnDef="fecha_deposito_real">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Fecha Deposito </th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <ng-container matColumnDef="monto_cbza">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Monto Cobranza</th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <ng-container matColumnDef="moneda_cbza">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Moneda Cobranza</th>
                  <td mat-cell *matCellDef="let element" class="center2"> </td>
                </ng-container>

                <ng-container matColumnDef="monto_dist">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Monto Dist </th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <ng-container matColumnDef="doc_remision">
                  <th mat-header-cell *matHeaderCellDef class="center1">Doc Remision </th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <ng-container matColumnDef="fecha_venta">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Fecha Venta</th>
                  <td mat-cell *matCellDef="let element" class="center1">
                  </td>
                </ng-container>

                <ng-container matColumnDef="numero_cuota">
                  <th mat-header-cell *matHeaderCellDef class="center1">Nro Cuotas </th>
                  <td mat-cell *matCellDef="let element" class="center2"> </td>
                </ng-container>

                <ng-container matColumnDef="vence_cliente">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Vence Para Cliente </th>
                  <td mat-cell *matCellDef="let element" class="center1"> </td>
                </ng-container>

                <ng-container matColumnDef="desct">
                  <th mat-header-cell *matHeaderCellDef class="center1"> % Desct. </th>
                  <td mat-cell *matCellDef="let element" class="center1"> </td>
                </ng-container>

                <ng-container matColumnDef="monto_desct">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Monto Desct.</th>
                  <td mat-cell *matCellDef="let element" class="center2"> </td>
                </ng-container>

                <ng-container matColumnDef="obs">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Obs </th>
                  <td mat-cell *matCellDef="let element" class="center1"></td>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Descuentos Asignados A Proformas NO FACTURADAS">
          <!-- <mat-card style="background-color: #ffffc0;">
            <mat-card-content style="padding: 0px 0px 0px 0px !important;">
              <table mat-table [dataSource]="dataSource_anticipos" class="mat-elevation-z8 text-center" matSort
                multiTemplateDataRows
                style="height: 12rem !important;text-align: center !important; padding: 0px 0px 0px 0px !important">
                
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="center1"> ID </th>
                  <td mat-cell *matCellDef="let element" class="center1">123456</td>
                </ng-container>
                
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Número </th>
                  <td mat-cell *matCellDef="let element" class="center1">XF-311</td>
                </ng-container>
                
                <ng-container matColumnDef="recibo">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Recibo </th>
                  <td mat-cell *matCellDef="let element" class="center1">2390</td>
                </ng-container>
                
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Fecha</th>
                  <td mat-cell *matCellDef="let element" class="center1">300956</td>
                </ng-container>
                
                <ng-container matColumnDef="monto">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Monto </th>
                  <td mat-cell *matCellDef="let element" class="center1">0.00</td>
                </ng-container>
                
                <ng-container matColumnDef="restante">
                  <th mat-header-cell *matHeaderCellDef class="center1"> Restante </th>
                  <td mat-cell *matCellDef="let element" class="center1"> </td>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsAnticipos"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsAnticipos;"></mat-row>
              </table>
            </mat-card-content>
          </mat-card> -->
        </mat-tab>
      </mat-tab-group>

      <div class="row" style="background-color: black;">
        <div class="col-sm">
          <span style="color: #008200;"><u>Total Depositos: </u></span>
          <input type="text" class="right" [readOnly]="true">
        </div>

        <div class="col-sm">
          <span style="color: #008200;"><u>Total Distribuido: </u></span>
          <input type="text" class="right" [readOnly]="true">
        </div>

        <div class="col-sm">
          <span style="color: #008200;"><u>Total Desc. Por Aplicar: </u></span>
          <input type="text" class="right" [readOnly]="true">
        </div>

        <div class="col-sm">
          <span style="color: #ca2222;"><u>Total Desc. Aplicado NO FACTURADO: </u></span>
          <input type="text" class="right" [readOnly]="true" style="width: 100%;">
        </div>
      </div>
    </ng-container>
  </div>
</section>
