<section style="background-color:#ffe0c0;margin-left: 1px;margin-right: 7.5px;flex: 1;box-sizing: border-box">

  <ngx-spinner bdColor="rgba(251, 216, 0, 0.8)" size="medium" color="#093070" type="square-loader" [fullScreen]="true">
    <br>
    <p style="font-size: 25px; color: rgb(9,48,112,)">🔩 Cargando... 🔩</p>
  </ngx-spinner>

  <p-toast></p-toast>

  <div class="row mb-1">
    <div class="col-12">
      <div class="input-group-append text-center" style="float: left;">
        <!-- BOTONES -->
        <div class="input-group-append">
          <!-- BTN GRABAR -->
          <div>
            <!-- <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" (click)="alMenu();">
              <span><i class="fa fa-arrow-left" style="color: #ffc107;"></i> Menu</span>
            </button> | &nbsp; -->
            <ng-container>
              <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1">
                <span><i class="fa fa-save" aria-hidden="true" style="color: #7d99c7;"></i> Grabar</span>
              </button>
            </ng-container>
          </div>

          <!-- BTN LIMPIAR -->
          <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
            (click)="limpiar();">
            <span><i class="fa fa-eraser" style="color: #ffc107;"></i> Limpiar</span>
          </button>

          <!-- BTN EXCELS -->
          <button mat-raised-button class="btn btn-outline-secondary form-control-sm" type="button"
            matTooltipClass="custom-tooltip"
            matTooltip="Cargar Excel A Excel" matTooltipPosition="right" (click)="modalExcelToExcel()">
            <i class="fa fa-file-excel green"></i>&nbsp; Cargar Excel A Excel
          </button>
          <!-- FIN EXCELS -->
        </div>
        &nbsp;&nbsp;
        <div class="pt-1" style="padding-left: 20rem;">
          <h3><strong><u>SOLICITUD DE MERCADERIA URGENTE</u></strong></h3>
        </div>
        <!-- BOTONES FIN -->
      </div>

      <div class="input-group-append text-center" style="float: right;">
          <button class="btn btn-outline-secondary form-control-sm" type="button" matTooltipClass="custom-tooltip"
            matTooltip="Recalcular Detalle" (click)="recalcularCarritoCompras()">
            <i class="fa fa-cogs gray"></i>
          </button>

        <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="modalMatrizClasica()"
          matTooltip="Matriz Item" matTooltipClass="custom-tooltip" matTooltipPosition="above">
          <i class="fa fa-th blue" aria-hidden="true"></i>
        </button>

        <button class="btn btn-outline-secondary form-control-sm" type="button"
          matTooltipClass="custom-tooltip" matTooltip="Importar ZIP" (click)="fileInput.click()">
          <i class="fa fa-file-archive green"></i>
        </button>

        <input type="file" #fileInput (change)="onFileChangeZIP($event)" accept=".zip"
          style="display: none;" />
      </div>
    </div>
  </div>


  <div class="content">
    <!-- cabecera -->
    <!-- <form class="example-form" [formGroup]="FormularioData"> -->
      <div class="mat-elevation-z2">
        <!-- primeraFila -->
        <div class="row">
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 20px 0px 0px;border: 0 !important;"><u>ID de Tipo</u></span>
              </div>

              <input type="text" class="form-control form-control-sm" [(ngModel)]="id_sol_urgente"
                (blur)="onLeaveIDSolUrgente($event)">

              <div class="input-group-append">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  (click)="modalCatalogoIDSolUrgente();"
                  style="border-color: #093070;" matTooltipClass="custom-tooltip" matTooltip="Buscar ID"><i
                    class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
             <span><strong> Nro. Actual: {{ numero_id_sol_urgente }}</strong></span>
          </div>
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm"
                style="padding: 8px 13px 0px 0px;border: 0 !important;"><u>Fecha</u></span>
              <input type="date" id="fecha_actual" class="form-control form-control-sm"
                [(ngModel)]="fecha_actual">
            </div>
          </div>
        </div>

        <!-- segundaFila -->
        <div class="row">
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 22px 0px 0px;border: 0 !important;">
                <u>Vendedor</u>
                </span>
              </div>
              <ng-container>
                <input type="text" class="form-control form-control-sm" id="inputCatalogoVendedor"
                 [(ngModel)]="cod_vendedor" (blur)="onLeaveVendedor($event)">
              </ng-container>

              <div class="input-group-append">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  (click)="modalVendedor();" style="border-color: #093070;" matTooltipClass="custom-tooltip"
                  matTooltip="Buscar Vendedor"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 1px 0px 0px;border: 0 !important;">
                  <u>  Almacen </u>
                </span>
              </div>
              <ng-container>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="almacen_origen" (blur)="onLeaveAlmacen($event)"
                  style="margin-left: 6px;" readonly>
              </ng-container>

              <div class="input-group-append">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  (click)="modalAlmacen('origen');" style="border-color: #093070;"
                  matTooltipClass="custom-tooltip" matTooltip="Buscar Almacen" [disabled]="false"><i
                    class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 0px 0px 0px;border: 0 !important;">
                  <u> Destino </u>
                </span>
              </div>
              <ng-container>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="almacen_destino"
                 id="inputCatalogoAlmacen" 
                (blur)="onLeaveAlmacen($event)" style="margin-left: 6px;" >
              </ng-container>

              <div class="input-group-append">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  (click)="modalAlmacen('destino');" style="border-color: #093070;" matTooltipClass="custom-tooltip"
                  matTooltip="Buscar Almacen" [disabled]="false"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>

           <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="border: 0 !important;">
                    <input type="checkbox">
                  </div>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text form-control-sm"
                    style="padding: 0px 0px 0px 0px;border: 0 !important;"><u>Especial, Preparado en Almacen</u></span>
                </div>
              </div>
           </div>
        </div>

        <!-- terceraFila -->
        <div class="row">
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 10px 6px 0px 1px;border: 0 !important;">
                  <u>Tipo Cliente</u>
                </span>
              </div>
              <mat-select class="custom-select1 form-control-sm" style="margin-left: 5px;"
                formControlName="tipocliente">
                <mat-option value="NORMAL">FINAL</mat-option>
                <mat-option value="URGENTE">INTERMEDIARIO</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 0px 0px 11px;border: 0 !important;">
                  <u> Cliente </u>
                </span>
              </div>

              <input type="number" class="form-control cliente form-control-sm" [(ngModel)]="cod_cliente"
                style="margin-left: 6.5px;" id="inputCatalogoCliente" (blur)="onLeaveCliente($event)"
                placeholder="COD. CLIENTE">

              <div class="input-group-append">
                <a class="btn btn-outline-primary form-control-sm" style="border-color: #093070;"
                  (click)="modalClientes();"> <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Nombre Cliente"
                [(ngModel)]="nombre_cliente">
            </div>
          </div>
        </div>

        <!-- cuartaFila -->
        <div class="row">
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 9px 0px 0px 0px;border: 0 !important;">
                  <u>Tipo de Pago</u>
                </span>
              </div>
              <mat-select class="custom-select1 form-control-sm" style="margin-left: 5px;"
                formControlName="tipocliente">
                <mat-option value="CONTADO">CONTADO</mat-option>
                <mat-option value="CREDITO">CREDITO</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 6px 0px 4px;border: 0 !important;"><u>A Precio</u></span>
              </div>

              <ng-container>
                <input type="number" class="form-control form-control-sm"
                  [(ngModel)]="cod_precio" (blur)="onLeavePrecioVenta($event)" id="inputCatalogoPrecioVenta">
              </ng-container>

              <div class="input-group-append">
                <a class="btn btn-outline-primary form-control-sm" style="border-color: #093070;"
                  (click)="modalPrecioVenta();"> <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 6px 0px 4px;border: 0 !important;"><u>Total Venta</u></span>
              </div>

              <ng-container>
                <input type="number" class="form-control form-control-sm">
                <ng-container>
                  <input type="text" class="form-control form-control-sm" id="inputMoneda" [(ngModel)]="moneda_get" placeholder="Moneda"
                    readonly>
                </ng-container>
                <div class="input-group-append">
                  <a class="btn btn-outline-primary form-control-sm" type="button"
                    (click)="modalCatalogoMoneda();" style="border-color: #093070;"><i class="fa fa-search"></i>
                  </a>
                </div>
              </ng-container>


            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 6px 0px 4px;border: 0 !important;"><u>Total</u></span>
              </div>

              <ng-container>
                <div style="width: 92px;">
                  <input type="number" class="form-control form-control-sm">
                </div>

                <div class="input-group-append">
                  <a class="btn btn-outline-primary form-control-sm" type="button"
                    (click)="modalCatalogoMoneda();" style="border-color: #093070;">
                    <i class="fa fa-cogs"></i>
                  </a>
                </div>

                <div style="width: 55px;">
                  <input type="text" class="form-control form-control-sm" readonly>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- quintaFila -->
        <div class="row">
           <div class="col-md-4" style="padding-right: 0px;padding-left: 6.5px;">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text form-control-sm"
                    style="padding: 9px 9px 0px 1px;border: 0 !important;">
                    <u>Transporte</u>
                  </span>
                </div>
                <mat-select class="custom-select1 form-control-sm" style="margin-left: 5px;"
                  [(ngModel)]="transporte" formControlName="transporte">
                  <mat-option value="CAMION PERTEC">CAMION PERTEC</mat-option>
                  <mat-option value="FLOTA">FLOTA</mat-option>
                  <mat-option value="TRANSPORTADORA">TRANSPORTADORA</mat-option>
                  <mat-option value="RECOGE CLIENTE">RECOGE CLIENTE</mat-option>
                  <mat-option value="LLEVA VENDEDOR">LLEVA VENDEDOR</mat-option>
                  <mat-option value="TAXI">TAXI</mat-option>
                  <mat-option value="CAMION">CAMION</mat-option>
                  <mat-option value="OTRO">OTRO</mat-option>
                </mat-select>
              </div>
           </div>

           <div class="col-md-4" style="padding-right: 0px;padding-left: 6.5px;">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 9px 0px 0px 0px;border: 0 !important;">
                  <u>Tiempo de Llegada</u>
                </span>
                <input class="form-control form-control-sm" style="margin-left: 5px;">
              </div>
           </div>
        </div>

        <!-- sextaFila -->
        <div class="row">
          <div class="col-md-8" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 9px 0px 0px 0px;border: 0 !important;">
                <u>Observacion</u>
              </span>
              <input class="form-control form-control-sm" style="margin-left: 5px;">
            </div>
          </div>
        </div>

        <!-- septimaFila -->
        <div class="row"> 
          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 9px 38px 3px 0px;border: 0 !important;">
                <u>Flete</u>
              </span>
              <input class="form-control form-control-sm" style="margin-left: 5px;">
            </div>
          </div>
          
          <div class="col-md-1" style="padding-right: 0px;padding-left: 6.5px;"></div>
          
          <div class="col-md-3" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 9px 0px 3px 0px;border: 0 !important;">
                <u>Peso KG.</u>
              </span>
              <input class="form-control form-control-sm" style="margin-left: 5px;">
              <input class="form-control form-control-sm" style="margin-left: 5px;">
              <input class="form-control form-control-sm" style="margin-left: 5px;">
            </div>
          </div>

          <div class="col-md-2" style="padding-right: 0px;padding-left: 6.5px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm"
                  style="padding: 8px 22px 0px 0px;border: 0 !important;"><u>Proforma</u>
                </span>

                <input type="text" class="form-control form-control-sm">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  (click)="modalProformas();" style="border-color: #093070;"
                  matTooltipClass="custom-tooltip" matTooltip="Buscar ID"><i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control form-control-sm">
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </form> -->
    <!-- finCabezera -->

    <!-- InicioTabla -->
    <div class="row">
      <div class="col">
        <mat-tab-group class="miTabGroupDetalle" #tabGroup>
          <mat-tab label="Detalle del Pedido">
            <p-table [value]="array_items_carrito_y_f4_catalogo" [tableStyle]="{'min-width': '60rem'}"
              styleClass="p-datatable-striped tablitaDetalle" [metaKeySelection]="true" selectionMode="multiple"
              [(selection)]="selectedProducts" dataKey="coditem" sortMode="multiple" (onRowSelect)="onRowSelect($event)"
              (onRowUnselect)="onRowUnselect($event)" (onEditComplete)="onEditComplete($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="item" style="width:5%;" class="center1" (click)="modalCatalogoProductos()"
                    style="text-align: center !important; cursor: pointer;">
                    <i class="fa fa-plus" style="text-align: center !important; cursor: pointer;"></i>&nbsp;
                    <u>Item</u>
                    <p-sortIcon field="item"/>
                  </th>
                  <th pSortableColumn="descripcion" style="width:21%;" class="left">
                    Descripción
                    <p-sortIcon field="descripcion" />
                  </th>
                  <th pSortableColumn="medida" class="left" style="width:8%">
                    Medida
                    <!-- <p-sortIcon field="medida"/> -->
                  </th>
                  <th pSortableColumn="ud" class="center1" style="width:3%">
                    Ud
                  </th>
                  <th pSortableColumn="iva" class="right1">
                    Saldo Agencia
                  </th>
                  <th pSortableColumn="empaque" class="right1">
                    Stock Max
                  </th>
                  <th pSortableColumn="pedido" class="right1">
                    Cantidad
                    <!-- <p-sortIcon field="pedido" /> -->
                  </th>
                  <th pSortableColumn="cantidad" class="right1">
                    Precio
                    <!-- <p-sortIcon field="cantidad" /> -->
                  </th>
                  <th pSortableColumn="sld" class="right1">
                    Total
                  </th>
                  <th pSortableColumn="TP" class="right1">
                    Cantidad Pedido
                    <!-- <p-sortIcon field="TP" /> -->
                  </th>
                  <th pSortableColumn="DE" class="right1">
                    Saldo Destino
                    <!-- <p-sortIcon field="DE" /> -->
                  </th>
                  <th pSortableColumn="PUL" class="right1">
                    Saldo Area
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-products let-rowIndex="rowIndex">
                <tr [pSelectableRow]="products" [pSelectableRowIndex]="rowIndex"
                  [ngStyle]="{'height': '10px',  'overflow-y': 'scroll', 'overflow-x': 'scroll'}">
                  <td class="center1">
                    <i class="fa fa-trash" style="font-size: 0.6rem !important;color:rgb(222, 12, 12) !important;cursor:pointer;
                      padding-block-start: 3px;" (click)="eliminarItemTabla(products?.orden, products?.coditem);">
                    </i>&nbsp;&nbsp; {{ products.coditem }}
                  </td>
                  <td class="left">{{ products.descripcion }}</td>
                  <td class="left">{{ products.medida }}</td>
                  <td class="center1">{{ products.udm }}</td>
                  <td class="center1">{{ products.saldoag }}</td>
                  <td class="center1">{{ products.stockmax }}</td>

                  <!-- COLUMNA CANTIDAD -->
                  <td class="right1" [pEditableColumn]="products.cantidad"
                    pEditableColumnField="cantidad">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="products.cantidad" min="0">
                      </ng-template>

                      <ng-template pTemplate="output">
                        <ng-container
                          *ngIf="products?.cumpleEmp === true && products?.cumpleMin === true && products?.cumple === true || products?.cumple === 1">
                          <span>{{ formatNumberTotalSubTOTALES(products.cantidad) }}</span>
                          <!-- C <input pInputText type="number" [(ngModel)]="products.cantidad" min="0" id="input_cantidad"-->
                        </ng-container>

                        <ng-container
                          *ngIf="products?.cumpleEmp === false && products?.cumple === true">
                          <span
                            style="color: #0000ffaf !important;background-color: #a6a5bb6b;font-weight: 900;">
                            {{ formatNumberTotalSubTOTALES(products.cantidad) }}</span>
                          <!-- A <input pInputText type="number" [(ngModel)]="products.cantidad" min="0" id="input_cantidad"
                          style="color: rgba(0, 0, 255, 0.824) !important;"> -->
                        </ng-container>

                        <ng-container *ngIf="products?.cumpleMin === false">
                          <span
                            style="color: #ff0000dc !important;background-color: #a6a5bb6b;font-weight: 900;">
                            {{ formatNumberTotalSubTOTALES(products.cantidad) }}</span>
                          <!-- B <input pInputText type="number" [(ngModel)]="products.cantidad_pedida" min="0"
                           id="input_cantidad"style="color: rgba(255, 0, 0, 0.824) !important;"> -->
                        </ng-container>

                        <ng-container *ngIf="products?.cumple === false">
                          <!-- NEGATIVOS -->
                          <span style="color: #5050e2 !important;font-weight: 900;">
                            {{ formatNumberTotalSubTOTALES(products.cantidad) }}</span>
                          <!-- <input pInputText type="number" [(ngModel)]="products.cantidad_pedida" min="0"
                            id="input_cantidad" style="color: rgba(255, 0, 0, 0.824) !important;"> -->
                        </ng-container>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <!-- FIN COLUMNA CANTIDAD -->

                  <td class="right1">{{ formatNumberTotalSub6Decimales(products.precio) }}</td>
                  <td class="right1">{{ formatNumberTotalSubTOTALES(products.total) }}</td>

                  <!-- COLUMNA PEDIDO -->
                  <td class="right1" [pEditableColumn]="products.cantidad_pedido"
                    pEditableColumnField="cantidad_pedida">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="products.cantidad_pedida" min="0">
                      </ng-template>

                      <ng-template pTemplate="output">
                        <ng-container
                          *ngIf="products?.cumpleEmp === true && products?.cumpleMin === true && products?.cumple === true || products?.cumple === 1">
                          <span>{{ formatNumberTotalSubTOTALES(products.cantidad_pedida) }}</span>
                          <!-- C <input pInputText type="number" [(ngModel)]="products.cantidad" min="0" id="input_cantidad"
                            (change)="onInputChangecantidadChangeMatrix(products, $event.target.value);" > -->
                        </ng-container>

                        <ng-container *ngIf="products?.cumpleEmp === false && products?.cumple === true">
                          <span style="color: #0000ffaf !important;background-color: #a6a5bb6b;font-weight: 900;">
                            {{ formatNumberTotalSubTOTALES(products.cantidad_pedida) }}
                          </span>
                          <!-- <input pInputText type="number" [(ngModel)]="products.cantidad_pedida" min="0"
                            (change)="onInputChange(products, $event.target.value)"
                            style="color: rgba(0, 0, 255, 0.824);"> -->
                        </ng-container>

                        <ng-container *ngIf="products?.cumpleMin === false">
                          <span style="color: #ff0000dc !important;background-color: #a6a5bb6b;font-weight: 900;">
                            {{ formatNumberTotalSubTOTALES(products.cantidad_pedida) }}</span>
                          <!-- <input pInputText type="number" [(ngModel)]="products.cantidad_pedida" min="0"
                            (change)="onInputChange(products, $event.target.value)"
                            style="color: rgba(255, 0, 0, 0.824);"> -->
                        </ng-container>

                        <ng-container *ngIf="products?.cumple === false">
                          <!-- NEGATIVOS -->
                          <span style="color: #5050e2 !important;font-weight: 900;">
                            {{ formatNumberTotalSubTOTALES(products.cantidad_pedida) }}</span>
                          <!-- <input pInputText type="number" [(ngModel)]="products.cantidad_pedida" min="0"
                              (change)="onInputChange(products, $event.target.value)"
                              style="color: rgba(255, 0, 0, 0.824);"> -->
                        </ng-container>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td class="right1">{{ formatNumberTotalSubTOTALES(products.saldodest) }}</td>
                  <td class="right1">{{ products.saldoarea }}</td>

                  <!-- <td class="right1">{{ products.porcendesc | json}}</td>
                  <td class="right1">{{ products.preciodesc?.toString()?.replace(',', '.') }}</td>
                  <td class="right1">{{ products.precioneto?.toString().replace(',', '.') }}</td> -->
                </tr>
              </ng-template>
            </p-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <!-- FinTabla -->


    <div mat-dialog-footer class="row footersito">
      <!-- Saldos -->
      <!-- <div class="col-6 pl-2" style="text-align: left;">
        <ng-container *ngFor="let almacenes_saldoss of almacenes_saldos">
          <input type="text" class="inputsSaldos inputsSaldos2" [value]="almacenes_saldoss.saldo1"
            style="font-size: 0.8rem;width:17%;background-color: black;color: #00c600;cursor: pointer;" readOnly
            placeholder="0.00">

          <input type="text" class="inputsSaldos inputsSaldos2" [value]="almacenes_saldoss.saldo2"
            style="font-size: 0.8rem;width:17%;background-color: black;color: #00c600;cursor: pointer;" readOnly
            placeholder="0.00">

          <input type="text" class="inputsSaldos inputsSaldos2" [value]="almacenes_saldoss.saldo3"
            style="font-size: 0.8rem;width:17%;background-color: black;color: #00c600;cursor: pointer;" readOnly
            placeholder="0.00">

          <input type="text" class="inputsSaldos inputsSaldos2" [value]="almacenes_saldoss.saldo4"
            style="font-size: 0.8rem;width:17%;background-color: black;color: #00c600;cursor: pointer;" readOnly
            placeholder="0.00">
        </ng-container>
      </div> -->


      <!-- Saldos -->
      <div class="row pl-2">
        <div class="col-6 pl-2" style="text-align: left;">
          <input type="text" class="inputsSaldos inputsSaldos2"
            value="{{ agencia_logueado }}: {{ saldoItem }}"
            style="font-size: 0.8rem;width:12%;background-color: black;color: rgb(230, 230, 0);" readOnly
            placeholder="0.00">
          <ng-container *ngFor="let almacenes_saldoss of almacenes_saldos">
            <span
              style="padding: 3px 5px 0px 3px;"><strong>{{  almacenes_saldoss.codalmsald1 }}:</strong></span>
            <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_1"
              style="font-size: 0.8rem;width:12%;background-color: black;color: #00c600;cursor: pointer;"
              (click)="modalSaldos(almacenes_saldoss.codalmsald1, 1);" readOnly placeholder="0.00">

            <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald2 }}:</strong></span>
            <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_2"
              style="font-size: 0.8rem;width:12%;background-color: black;color: #00c600;cursor: pointer;"
              (click)="modalSaldos(almacenes_saldoss.codalmsald2, 2);" readOnly placeholder="0.00">

            <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald3 }}:</strong></span>
            <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_3"
              style="font-size: 0.8rem;width:12%;background-color: black;color: #00c600;cursor: pointer;"
              (click)="modalSaldos(almacenes_saldoss.codalmsald3, 3);" readOnly placeholder="0.00">

            <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald4 }}:</strong></span>
            <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_4"
              style="font-size: 0.8rem;width:12%;background-color: black;color: #00c600;cursor: pointer;"
              (click)="modalSaldos(almacenes_saldoss.codalmsald4, 4);" readOnly placeholder="0.00">

            <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald5 }}:</strong></span>
            <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_5"
              style="font-size: 0.8rem;width:12%;background-color: black;color: #00c600;cursor: pointer;"
              (click)="modalSaldos(almacenes_saldoss.codalmsald5, 5);" readOnly placeholder="0.00">
          </ng-container>
        </div>

        <div class="col-6" style="float:right;text-align: right;">
          <ng-container *ngFor="let almacenes_saldoss of almacenes_saldos">
            <span>Min</span>
            <input type="text" class="inputsSaldos inputsSaldos2" [value]="almacenes_saldoss.smin"
              placeholder="0.00"
              style="font-size: 0.8rem;width:16%;background-color: black;color: #00c600;cursor: pointer;"
              readOnly>

            <span>Max</span>
            <input type="text" class="inputsSaldos inputsSaldos2" [value]="almacenes_saldoss.smax"
              placeholder="0.00"
              style="font-size: 0.8rem;width:16%;background-color: black;color: #00c600;cursor: pointer;"
              readOnly>
          </ng-container>
        </div> 
      </div>
      <!-- finSaldos -->
    </div>
  </div>
</section>
