.text_permiso{
    color: red;
    background-color: #8fae8f;
    height: 69px;
    width: 97%;
    display: inline-grid;
    align-items: center;
    text-align: center;
}
input{
    width: 76% !important;
}