<button (click)="generatePDF()">Generar PDF</button>


<div id="content">



  <div class="row">
    <div class="col-md-3 p-1" style="border: 5px solid black; width: 250px;height: auto;margin-right: 5px;text-align: center;margin-bottom:
      4px;word-wrap: break-word;">
      <p><strong>GONZALO CESAR MERINO QUIROZ</strong></p><br>

      <span><strong>AV. PETROLERA N 2586 ESQ. MENTERO S/N (CERCADO-CBBA)</strong></span>

      <div style="text-align: left !important;">
        <p><strong>TEL: 4217993</strong></p>
        <p><strong>CEL:77925000</strong></p>
        <p><strong>CBA PCBA CERCADO - CBBA</strong></p>
        <p><strong>lINEA SINDICAL FLOTA UNIFICADO</strong></p>
      </div>


    </div>
  </div>
</div>
