#content {
    margin: 20px;
    padding: 20px;
    font-family: 'Arial' !important;
    line-height: 22px !important;
}

.pe{
    font-size: 0.9rem !important;
    margin-bottom: 0rem !important;
    font-family: 'Arial' !important;
}

.espan{
    font-size: 0.9rem !important;
}

.content-box {
  border: 6px solid black;
  width: auto;
  height: auto !important;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 4px;
  overflow: hidden;
}