#content {
  margin: 18px;
  padding: 18px;
  font-family: 'Arial' !important;
}

p {
  font-size: 1.10rem !important;
  margin-bottom: 0.5rem !important; /* Ajuste de margen inferior */
  font-family: 'Arial' !important;
  margin-bottom: 0px !important;
}

span {
  font-size: 1.40rem !important;
}

.cabecera p {
  font-family: 'Courier New' !important;
  font-size: 0.91rem !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

.col-3 {
  flex: 0 0 23% !important; /* Ajuste en flex para asegurar el tamaño adecuado */
  max-width: 23% !important;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Asegura que el contenido esté centrado verticalmente */
}

/* Para impresión */
.content {
  display: none;
}

@media print {
  .no-printme {
    display: none;
  }

  .content {
    display: block;
  }
}
