<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Tablero Principal</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right" style="font-size: 0.75rem !important;">
          <li class="breadcrumb-item"><a href="/">Incio</a></li>
          <li class="breadcrumb-item active">Pagina Principal</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffc107" type="pacman" [fullScreen]="true">
  <p style="color: white"> Conectando al Cloud </p>
</ngx-spinner>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>Gerencia 📊</h3>

            <p>📈 Resumen Estadístisco </p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;">Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>Call Center & Stock 📑</h3>

            <p>⏱ Despachos Pendientes </p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;"> Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>Contabilidad 💳</h3>
 
            <p>💸 Anticipos Pendientes </p>
          </div>
         <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;"> Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>RRHH 🎉</h3>

            <p> Cumpleañeros 🪅</p>
          </div>
          
          <div class="icon">
            <i class="ion ion-person"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;"> Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div><br>

    <div class="row">
      <div class="col-md-4">
        <mat-card class="example-card">

          <mat-card-title class="text-center"><strong>Comunicado PERTEC</strong></mat-card-title><br>

          
          <img mat-card-image src="https://pertec.com.bo/assets/images/icon.png" alt="PERTEC"
            style="width: 32.5%;display: block;margin: auto;">
          <mat-card-content><br>
            <p style="text-align: center;"><strong>COMUNICADOS</strong></p><br>

            <p>Comunicado para los empleados de la empresa Pertec desde la fecha .... <br>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima dolores, cum, quia beatae amet dicta
              nulla sed sunt pariatur omnis hic quos ipsam. Ducimus quaerat error cum nam ipsa in.
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>